<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ShoppingApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuthenticationServlet</display-name>
    <servlet-name>AuthenticationServlet</servlet-name>
    <servlet-class>com.shopping.deloitte.controller.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/AuthenticationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.shopping.deloitte.controller.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.shopping.deloitte.controller.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Guest</display-name>
    <servlet-name>Guest</servlet-name>
    <servlet-class>com.shopping.deloitte.controller.Guest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Guest</servlet-name>
    <url-pattern>/Guest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmProductServelet</display-name>
    <servlet-name>ConfirmProductServelet</servlet-name>
    <servlet-class>com.shopping.deloitte.controller.ConfirmProductServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmProductServelet</servlet-name>
    <url-pattern>/ConfirmProductServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmProductServlet</display-name>
    <servlet-name>ConfirmProductServlet</servlet-name>
    <servlet-class>com.shopping.deloitte.controller.ConfirmProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmProductServlet</servlet-name>
    <url-pattern>/ConfirmProductServlet</url-pattern>
  </servlet-mapping>
</web-app>