<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Exam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Authorize</display-name>
    <servlet-name>Authorize</servlet-name>
    <servlet-class>com.exam.deloitte.controller.Authorize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authorize</servlet-name>
    <url-pattern>/Authorize</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Verify1</display-name>
    <servlet-name>Verify1</servlet-name>
    <servlet-class>com.exam.deloitte.controller.Verify1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verify1</servlet-name>
    <url-pattern>/Verify1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Verify2</display-name>
    <servlet-name>Verify2</servlet-name>
    <servlet-class>com.exam.deloitte.controller.Verify2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verify2</servlet-name>
    <url-pattern>/Verify2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Verify3</display-name>
    <servlet-name>Verify3</servlet-name>
    <servlet-class>com.exam.deloitte.controller.Verify3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verify3</servlet-name>
    <url-pattern>/Verify3</url-pattern>
  </servlet-mapping>
</web-app>